<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button>Click This Page</button>
  <button ion-button (click)="goToFirstPage()">Go to First Page</button> 
</ion-content>
